.Rproj.user
.Rhistory
.RData
.Ruserdata
/Results/*
/README.Rmd
/Data/README.Rmd
/Scripts/README.Rmd
/Data/PVV_BLUE.RData
/Figures/*
*.e*
*.o*
*JLN*
/Data/PopVarVal_cross_info.xlsx
/Data/PopVarVal_project_entries.xlsx
/Data/experimental_parent_entries.csv
/Data/project_entries_pedigree.xlsx
